
.spacer-col{
    height: 10px;
  }
  
  .spacer-row{
    width: 100px;
  }
  
  
  .centermaker{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .NavContainer{
    width: 100%;
  }
  
  
  .NavBar{
    height: 50px;;  
    width: 95vw;
    margin-top: 10px;
    background-color: #f2f2f2;
    border-radius: 20px;
  }
  
  .SearchBar{
    border: none;
    height: 30px;
    border-bottom: 2px solid red;
  
  }
  
  .SearchBar:focus {
    border: 3px solid red;
    background-color: rgb(255, 255, 255);
  }
  